* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: Great Vibes, Dancing Script;
   color: #4682b4;
   line-height: 1.6;
}

h1 {
    font-size:
    30px;
}

h2 {
    font-size:
    28px;
    margin-bottom: 15px;
}

  p  {
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #4682b4
}


header{
    background-color: #f0e9e0;
    color: #4682b4;
    padding: 30px 12px;
    text-align: center;
}

header h1{
    color: #4682b4;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: lobster; 
}


nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}
nav a {
    color: #376c97;
    font-weight: bold;
}


main {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 16px;
}

 
footer {
    background-color: #f0e9e0;
    color: #4682b4;
    text-align: center;
    padding: 24px 16px;
}